/* Estilos base para el registro */
body {
    background-color: #f4f4f9;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
}

.registro-container {
    background-color: #ffffff;
    padding: 25px 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

h2 {
    color: #333;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
}

label {
    color: #666;
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #5c67f2;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #4a54e1;
}

/* Mensajes de error o confirmación */
p {
    color: #cc0000;
    text-align: center;
}
.back-button-container button {
    background-color: #5c67f2; /* Color de fondo azul */
    color: white; /* Texto en color blanco */
    padding: 10px 20px; /* Padding para hacer el botón más grande */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cursor en forma de puntero para indicar que es clickeable */
    transition: background-color 0.3s; /* Transición suave del color de fondo */
    margin-top: 15px; /* Margen superior para separarlo del botón de registro */
}

.back-button-container button:hover {
    background-color: #4348a2; /* Color más oscuro al pasar el ratón por encima */
}
